html {
  position: relative;
  min-height: 100%;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-bottom: 60px;
}

a {
  color: #00B7FF;
}

.btn-group-fill-height .btn {
  white-space: normal;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.alert-dismissible {
  display: none;
}
