<div class="container">
    <div class="jumbotron">
        <h2>
      About Us
    </h2>
        <p class="lead">The Toy Problem App is an <a href="http://github.com/davemun/toy-problem-app">open source project</a>, created by <a href="http://github.com/roryc89">Rory Campbell</a> and <a href="http://github.com/davemun">Dave Mun</a>. </p>
    </div>
    <div class="row marketing">
        <div class="col-lg-12">
            <p>
                The Toy Problem App was created to help people put their JavaScript skills to the test. Having been used to daily JavaScript challenges at <a href="http://www.hackreactor.com">Hack Reactor</a>, we wanted to share the learning experience and to encourage others.
            </p>
            <p>
                If you would like to contribute to the project, please make a pull request to our <a href="http://github.com/davemun/toy-problem-app">GitHub repo.</a> Requests for new features or bug fixes are also welcome.
            </p>
            <p>
                Many thanks to the various open source technologies that helped us to build this project including
                  <a href="https://angularjs.org/">AngularJS,</a>
                  <a href="http://expressjs.com/">Express,</a>
                  <a href="http://nodejs.org/">and Node</a>.
            </p>
        </div>
    </div>

    <div class="col-lg-6">
        <p class="lead">Rory:
        </p>
        <p class="lead"><a href="mailto:roryc89@gmail.com">roryc89@gmail.com <br></a><a href="https://www.linkedin.com/in/roryjcampbell">LinkedIn <br></a><a href="https://github.com/roryc89">GitHub</a>
        </p>
    </div>

    <div class="col-lg-6">
        <p class="lead">Dave:
        </p>
        <p class="lead"><a href="mailto:mun.dave@gmail.com">mun.dave@gmail.com <br></a><a href="https://www.linkedin.com/in/davemun">LinkedIn <br></a><a href="https://github.com/davemun">GitHub</a>
        </p>
    </div>

</div>








